/* Basic Structure */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  text-align: center;
  background-color: #F2F2F2;
}

a {
  color: #000000;
}

a:hover {
  color: #CD6600;
}

/* Headings */
h1 {
  color: #000000;
  font-family: "Montez", cursive;
  font-size: 7rem;
  margin: 75px auto 25px auto;
}

h2 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-bottom: 10px;
}

p {
  line-height: 2;
  margin-bottom: 0;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #000000;
  border-width: 10px;
  width: 10%;
  margin: 50px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Containers */
.first-container {
  padding-top: 75px;
}

.second-container {
  padding: 25px 0 25px;
  background-image: linear-gradient(to right, #9A9A9A, #DBDBDB, #E4E4E4, #F2F2F2, #E4E4E4, #DBDBDB, #9A9A9A);
}

.third-container {
  padding: 25px 0;
}

/* Navigation Bar */

.navbar {
  background-image: linear-gradient(to right, #9A9A9A, #DBDBDB, #E4E4E4, #F2F2F2, #E4E4E4, #DBDBDB, #9A9A9A);
  height: 75px;
  padding-right: 25px;
}

.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 30px 15px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background-color: #DDDDDD;
  color: black;
}

.navbar a.active {
  background-color: #FFFFFF;
}

/* Classes */
div .col-sm {
  padding-top: 40px;
}

p.copyright {
  margin-bottom: 0;
}

.title {
  width: 75%;
  margin: auto;
}

.title-img {
  padding-top: 25px;
  padding-bottom: 50px;
}

.h2-spacing {
  padding-top: 25px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 75px auto;
  padding-bottom: 5px;
  text-align: left;
}

.footer-link {
  background-image: linear-gradient(to right, #9A9A9A, #DBDBDB, #E4E4E4, #F2F2F2, #E4E4E4, #DBDBDB, #9A9A9A);
}

p.footer-cv {
  font-size: 0.7em;
}

.social-links {
  padding: 0 20px;
}

.copyright {
  padding-top: 50px;
}

.h5-sub {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Timeline styling */
.timeline {
  width: 100%;
  max-width: 750px;
  padding: 100px 50px;
  position: relative;
  margin: 0 auto;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 25px;
  left: calc(33% + 15px);
  bottom: 25px;
  width: 4px;
  background: #DDDDDD;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.role {
  clear: both;
  text-align: left;
  position: relative;
}

.role .job-title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.role .job-title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #CD6600;
  background-color: #FFFFFF;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}

.role .job-title h3 {
  margin: 0;
  font-size: 120%;
}

.role .job-title p {
  margin: 0;
  font-size: 100%;
}

.role .detail {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}

.role .detail p {
  line-height: 1.4em;
}

.role .detail p:first-child {
  margin-top: 0;
  font-weight: 400;
}

.role .detail ul {
  color: #AAAAAA;
  padding-left: 0;
  list-style-type: none;
}

.role .detail ul li:before {
  content: "–";
  margin-right: .5em;
}

/* Images */
.profile-img {
  border-radius: 50%;
}

.mac-img {
  float: left;
  margin-right: 30px;
  border-radius: 25px;
}

.office365-img {
  float: right;
  margin-left: 30px;
  border-radius: 25px;
}

.adobe-img {
  float: left;
  margin-right: 30px;
  border-radius: 25px;
}

.fed-img {
  float: right;
  margin-left: 30px;
  border-radius: 25px;
}

.music-img {
  float: left;
  margin-right: 30px;
}

.books-img {
  float: right;
  margin-left: 30px;
}

/* Skills page Styling */
.skill-col {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.skills-h5 {
  padding-left: 15px;
}

.fe-skills-img {
  position: absolute;
  left: 40%;
}

.fe-skills-h5 {
  position: absolute;
  left: 50%;
}

.be-skills-img {
  position: absolute;
  left: 40%;
}

.be-skills-h5 {
  position: absolute;
  left: 50%;
}

/* --- Media Queries for Responsivness --- */

/* --- Extra Small: --- */
@media only screen and (max-width: 599.99px) {
h1 {
  padding-top: 20px;
  font-size: 4rem;
}

p {
  line-height: 1.5;
}

a.nav-link {
  padding: 10px 0;
}

p.copyright {
  font-size: .8em;
  padding-top: 10px;
}

.title-img {
  width: 100%;
  height: auto;
}

.copyright {
  padding-top: 25px;
}

.navbar {
  width: 100%;
  height: 50px;
  padding-right: 15px;
}

.navbar a {
  padding: 0;
}

.intro {
  width: 40%;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.medium-img {
  width: 64px;
  height: 64px;
}

.be-skills-h5 {
  position: absolute;
  left: 50%;
  padding-left: 20px;
}

.h3-sub {
  font-size: 0.9em;
  font-weight: bold;
  color: #CD6600;
}

.h5-sub {
  font-size: .85em;
}

.icon {
  font-size: 1em;
}
}

/* --- Small: --- */
@media only screen and (min-width: 600px) and (max-width: 767.99px) {
  .title-img {
    width: 100%;
    height: auto;
  }

  a.nav-link {
    padding: 10px 0;
  }

  p.copyright {
    font-size: .8em;
    padding-top: 10px;
  }

  .navbar a {
    padding: 0;
  }

  .be-skills-h5 {
    position: absolute;
    left: 50%;
    padding-left: 20px;
  }

  .h5-sub {
    font-size: .85em;
  }
}

/* --- Medium: --- */
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .title-img {
    width: 100%;
    height: auto;
  }

  a.nav-link {
    padding: 10px 0;
  }

  .navbar a {
    padding: 0;
  }

  .be-skills-h5 {
    position: absolute;
    left: 50%;
    padding-left: 20px;
  }
}

/* --- Large: --- */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  .title-img {
    width: 100%;
    height: auto;
  }

  .icon {
    font-size: 2em;
  }
}
